.bg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../Images/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.align-card{
    padding-top: 120px;
    padding-bottom: 230px;
}
html, body {
    overflow-x: hidden;
}